<nav class="navbar navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%=link_to('E', root_path, class: "navbar-brand web-title")%>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">        
        <% if user_signed_in? %>
          <!-- <div class="user-button"> -->
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.full_name %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            </ul>
            </li>
          <!-- </div> -->
        <% else %>
          <div class="user-button">
            <%=link_to('Sign in', new_user_session_path, class: 'btn btn-default navbar-btn outline sign-in-btn')%>
            <%=link_to('Sign up', new_user_registration_path, class: 'btn btn-primary navbar-btn outline sign-up-btn')%>
          </div>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>