<!DOCTYPE html>
<html>
<head>
  <title>Elearning</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_page?(root_path) %>
    <%= render 'layouts/home_navbar' %>
  <% else %>
    <%= render 'layouts/navbar' %>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
